jsonPath=/home/ivan/src/etg-mate-server/mate-test-cases.json
packageName=org.kontalk
testPackageName=org.kontalk
compiledPackageName=org.kontalk.debug
compiledTestPackageName=org.kontalk.debug.test
productFlavors=basic
rootProjectPath=/home/ivan/latex/etg-paper/experiments/subjects/org.kontalk/
outputPath=/home/ivan/latex/etg-paper/experiments/subjects/org.kontalk/app/src/androidTest/java/org/kontalk/
